h2 {
  text-align: center;
}

/* navbar */
.header {
  background: rgba(255, 177, 33, 0.671);
  color: black;
}

/* view-more */
.view-more {
  color: blue;
  text-decoration: none;
}

tr {
  text-align: center;
}

td {
  text-align: center;
}

/* search bar */
.search-bar {
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.search-bar > i {
  font-size: 22px;
  color: gray;
}

.search-bar > input {
  width: 250px;
  outline: none;
  border: none;
}

/* card */

.card-text {
  display: flex;
  align-self: flex-start;
}

.client-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
}

/* responsive */

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }

  /* info cards */
  .client-info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .card {
    margin-bottom: 15px;
  }
}
